body {
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; 
}

h1, h2, h3, h4, h5, h6, .side-nav, .top-bar-section ul li > a, ul.off-canvas-list li {
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; 
}

h1, h2, h3 {
	font-weight: bold;
}


pre {
        padding-left: 20px;
}

code {
    font-size: 1.0rem;
    line-height: 1.2;
}
